#cards-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card{
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    padding: 1em;
}


.red-card{
    background-color: #ff4d4d;
    color: white;
}